body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#uploadedImage {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    transition: width 0.2s, height 0.2s;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
