body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;  /* Ensure column direction */
    gap: 10px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
}

.sidebar-item {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #444;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: #555;
}

.container {
    margin-left: 200px;  /* Increased margin to match sidebar width */
    flex-direction: column;
    padding: 20px;
    width: calc(100% - 200px);  /* Adjusted width calculation */
    transition: margin-left 0.3s, width 0.3s;
}

h2 {
    text-align: center;
    color: #333;
}

#profilePictureContainer {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="file"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#editProfileForm {
    display: none;
}

.greyed-out {
    background-color: #e0e0e0;
}

#croppingTool img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
